[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
black = "==19.10b0"
flake8 = "*"
jupyter = "*"
dvc = "*"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
# modeling packages
sklearn = "*"
# graphing packages
matplotlib = "*"
seaborn = "*"
# NLP
spacy = "*"
pytextrank = "*"

[requires]
python_version = "3.7.6"
